/* Container needed to position the button. Adjust the width as needed */
body{
  background-color: lightblue;
}
.home {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .box .img-fluid {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .box .btn btn-primary{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(114, 41, 41);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .box .btn:hover {
    background-color: black;
  }